body {
  background-color: rgba(65, 65, 65, 0.8);
  font-family: Arial, Helvetica, sans-serif;
}
.list_scale {
  padding-left: 150px;
  margin: 0;
}
.field_scale {
  display: inline-block;
  margin: 4px 10px;
  color: #00bcd4;
}
.list_items {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  width: 120px;
}
.field_items {
  display: block;
  margin: 4px;
  color: #ffeb3b;
}
.results {
  display: inline-block;
  width: 600px;
  height: 100px;
  background-color: rgb(191, 238, 136);
}
